<% action_url = (sub.persisted? ? sub_url(sub) : subs_url) %>
<% hidden_method = (sub.persisted? ? "patch" : "post") %>

<form action="<%= action_url %>" method="post">
  <input
    type="hidden"
    name="_method"
    value="<%=hidden_method%>">

  <%= auth_token %>

  <label for="sub_title">Title:</label>
  <br>
  <input
    type="text"
    name="sub[title]"
    id= "sub_title"
    value="<%= @sub.title %>">
  <br>

  <label for="sub_description">Description:</label>
  <br>
  <textarea
    name="sub[description]">
    <%= @sub.description %>
  </textarea>
  <br>
  <br>

  <input type="submit">

</form>
